.cartPage{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("/public/unif1.jpg");
  background-size: cover;
  background-repeat: repeat;

}
.cartContent{
  display: flex;
  flex-direction: row;
}
h1,h5,label{
  color: black;
}
.cartList{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
  }
  .sumar-comanda{
    width: 100%;
  }