.favorite-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(135, 135, 135);
    background-size: cover;
    background-repeat: repeat;
  }
.favorite-page h1{
    color: black;
}


