.filter-bar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: rgb(55, 173, 212);
    padding: 8px;
    z-index: 100;
  }
input{
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
}