
input{
    width: 90%;
}


.type-category-buttons{
  margin-left: 5%;
  display: flex;
  flex-direction: column;

}

.type-button{
  all: unset;
  width: 100%;
  display: flex;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 5px;
  background-color: lightblue;
  text-align: center;
}

.category-button {
all: unset;
border:solid;
padding: 1%;
background-color: lightblue;
}
.not-selected{
background-color: white;
border: 0ch;
}
.selected {
background-color: lightblue;
border: 0ch;
margin: 4%;
}
.dropdown-head{
border: 0ch;
background-color: lightblue;
}
.dropdown-head :hover{
box-shadow: 2px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #e5e5e5;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content button:hover{
background-color: rgba(255, 255, 255, 0.692)
}

.dropdown:hover .dropdown-content {
display: block;
}
.hr{
width: 100%;

}

.buttons{
  display: flex;
  flex-direction: column;
  color: black;
}
.button:hover{
  background-color: bisque;
}

.containe{
  width: 15vw;
  height: auto;
}
.containe p,.containe label,h1,h2,h3,h4,h5,hr{
  color: white;
}

.containe h4{
  font-size: 100%;
}

.containe .DropdownButton {
  width: 100%;
}

hr{
  opacity: 100%;
  background-color: #888888;
  border-top: 10px dashed #000000;
}
.fbh3{
  margin-top: 3vh;
  color: white;
}

.filter-accordion{
  background-color: #000000;
}
.sselected{

  background-color: #e5e5e5;
  color: black;
  font-weight: bolder;
}
.notselected{
  background-color: #000000;
  border-style: solid;
  border-color: white;
  margin: 0;
}
.accordion-header {
  background-color: #333; /* Replace with your desired color */
  color: #fff; /* Replace with your desired color */
}
