.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    padding-bottom: 1rem;
    background-image: url("https://spring-amazon-image-storage.s3.eu-north-1.amazonaws.com/backgrounds/pexels-mikhael-mayim-10843099.jpg");
    background-size:contain;
}


