.manage-categories-page{
    background-color: rgb(170, 170, 170);
}
.tables{
    display: flex;
    flex-direction: row;
}
table{
    margin: 5%;
}
.tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tab h3{
    color: black;
}
.manage-categories-page h2{
    color: black;
}