.navbar-user{
  background-color: black
}
.navbar-admin{
  background-color:  black
}

.nav-container {
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: xx-large;
}
.nav-container-admin{
  display: flex;
  justify-content: space-between;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: large
}

.toolbar-action-icons {
  display: flex;
  justify-content: space-between;
}

.toolbar-action-icon {
  margin-left: 0.2em;
}

.navbar-buttons-user{
  color: white;
  font-weight: bold;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;
}
.navbar-buttons-admin{
  color: white;
  font-weight: bold;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 100;

}

.toolbar-action-icon :hover{
  color: red;
  cursor: pointer;
}

.navbar-buttons-admin a,
.navbar-buttons-user a{
  all:unset;
}

.active{
  color:red;
}