.product-container {
    display: inline-block;
    width: 25%;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
    border-radius: 4px;
    overflow: hidden;
}

.product-image{
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.product-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.product-details{
    padding: 10px;
    background-color: #f7f7f7;
}

.product-name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price{
    font-size: 16px;
    margin-bottom: 10px;
}

.product-buttons{
    display: flex;
    justify-content: space-between;
}

.favorite-button{
    width: 20px;
    height: 20px;
    background-color: red;
}

.cart-button{
    width: 20px;
    height: 20px;
    background-color: blue;
}