.homepage {
  display: flex;
  flex-direction: row;
  background: linear-gradient(white, black) 100% 25%;
}

.filter-container {
  min-width: 15%;
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgb(43, 43, 43);
  border-right-style: solid;
  border-bottom-style: solid;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

@media screen and (max-width: 992px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); /* Set 2 columns for smaller screens */
  }
}


@media screen and (max-width: 700px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); /* Set 2 columns for smaller screens */
  }
}



.product-column {
  margin-left: 10%;
  width: 90%;
  margin-bottom: 10%;
}




label{
  font-size: 2vw;
}